/**/target
/**/node_modules
/**/build
/**/.idea
/**/*.iml
/**/*log.*
/**/*.log
/**/*_log
/**/_dev
/**/*_dev.*
/**/temp
/**/.vscode
/development/k2ethereumservices/k2-admin-gui/dist
/development/k2-service-provider-gui/dist
/development/Subscriber/dist
/**/gocypher-cybench-client/deploy
/**/report.json
/**/output-test.png
/**/test_picture.png
/**/.gradle/*